venv/
__pycache__/
*.pyc
.DS_Store
.txt
uploads/
backend/settings.py
*.sql
*.dump
*.csv
*.logsendmail.py
sendmail.py.txt
logging_conf/logs/*.log
.env
.venv
backend/settings.py
*.pem
*.key
secrets/*.json
